<mat-card appearance="outlined" class="!shadow-md h-full">
  <div class="flex flex-row items-center justify-between p-3">
    <h1 class="text-lg font-medium truncate">{{ book.title }}</h1>
    <div
      [matTooltip]="book.userBook ? 'This book is already in your backlog' : 'Add to your backlog'"
    >
      <button matIconButton [disabled]="book.userBook">
        <mat-icon [fontSet]="book.userBook ? 'material-icons' : 'material-icons-outlined'"
          >bookmarks</mat-icon
        >
      </button>
    </div>
  </div>

  <img
    class="w-full h-[180px] object-cover border-y border-gray-200"
    [src]="book.cover.urls.large"
    [alt]="'Cover of ' + book.title"
    (click)="displayCover.emit(book)"
  />

  <mat-card-content>
    <div class="flex flex-wrap py-3 gap-1">
      <app-badge *ngFor="let author of book.authors" variant="secondary">{{
        author.name
      }}</app-badge>
    </div>

    <p class="line-clamp-5">
      {{ book.description || 'No description available' }}
    </p>
  </mat-card-content>

  <div class="p-3 flex flex-column flex-grow items-end">
    <div class="flex flex-row gap-2 w-full">
      <button matButton="filled" class="w-full" (click)="updateBook.emit(book)">More Info</button>

      <button matMiniFab class="shadow-none! rounded-full!" (click)="deleteBook.emit(book)">
        <div class="flex flex-row items-center justify-center">
          <mat-icon>delete</mat-icon>
        </div>
      </button>
    </div>
  </div>
</mat-card>
